COMPOSE_PROJECT_NAME=minasa-gitea-local

GITEA_APP_DOMAIN=gitea.minasa.com
GITEA_APP_URL=http://gitea.minasa.com
GITEA_APP_PORT=3000
GITEA_SSH_PORT=222

GITEA_DB_PORT=3314
GITEA_DB_USER=gitea
GITEA_DB_PASSWORD=gitea
GITEA_DB_NAME=gitea

GITEA_RUNNER_NAME=runner-minasa
GITEA_RUNNER_REGISTRATION_TOKEN=mLo*********************************v4je

GITEA_REGISTRY_PORT=5000
GITEA_REGISTRY_DOMAIN=registry-api.minasa.com
GITEA_REGISTRY_URL=http://registry-api.minasa.com

GITEA_REGISTRY_APP_PORT=8080
GITEA_REGISTRY_APP_URL=http://registry-api.minasa.com




